@model IEnumerable<admin.Models.ProductBrand>






<div class="col-md-12">

    <h1 class="text-center"><i class="fas fa-cubes text-success"></i> Product Brands </h1>



    <!-- This table to implement advanced search functionality on the Table we have. -->
    <!-- Bootstrap and JQueru codes are written in site,js. -->
    <!-- This table is hidden, to show it we use the below button, and the javascript code is in site.js-->
    <table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;" id="AdvancedSearchTable" class="hide">
        <thead>
            <tr>
                <th>
                    Target
                </th>
                <th>
                    Search text
                </th>
                <th>
                    Treat as regex
                </th>
                <th>
                    Use smart search
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Be carefull, replace the i in the data-column="i" and id="col'i'_filter" with the correct column number from the real table.-->
            <!-- This i is handled in the jquery code. -->
            <tr id="filter_global">
                <td>Global search</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col2" data-column="2">
                <td>Column - @Html.DisplayNameFor(model => model.Name)</td>
                <td align="center"><input type="text" class="column_filter" id="col2_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>
            </tr>
        </tbody>
    </table>



    <h5 class="text-center text-danger">Be careful, Deleting a Brand will delete all child subsequent products related to this brand in the Products table ! Do not delete unless you are sure about what you are doing !</h5>



    <div class="row">
        <div class="col-md-6 text-left">
            <!--send id=0 to the method so that the method understands it is a create process. (we can write "null" instead of "new {id=0}" but problems might happen)-->
            <a onclick="showInPopup('@Url.Action("AddOrEdit","ProductBrands",new {id=0},Context.Request.Scheme)','New Product Brand')" class="btn btn-success text-white my-1"><i class="fas fa-plus"></i> New Product Brand</a>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Delete" id="AdvancedSearchButton"  style="width: 11em">Advanced Search</button>
        </div>
    </div>


    <table class="table" id="DataTable">
        <thead class="thead-light">
            <tr>
                <th>
                    # <!-- This column to have row number. JQuery in site.js will do that-->
                </th>
                <th>
                    Options
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="rowNumber">
                        <!-- This column to havve row number. JQuery in site.js will do that-->
                    </td>
                    <td>
                        <div>
                            <!-- Edit -->
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","ProductBrands",new {id=item.Id},Context.Request.Scheme)','Update Product Brand')" class="btn btn-light btn-sm ml-1"><i class="fas fa-pencil-alt"></i></a>

                            <!-- Delete -->
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.Id" />
                                <button type="submit" class="btn btn-light btn-sm"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>