@model IEnumerable<admin.Models.StoreIdentityModels.Address>



<div class="col-md-12">

    <h1 class="text-center"><i class="fas fa-address-book text-success"></i> Customers' Addresses </h1>



    <!-- This table to implement advanced search functionality on the Table we have. -->
    <!-- Bootstrap and JQueru codes are written in site,js. -->
    <!-- This table is hidden, to show it we use the below button, and the javascript code is in site.js-->
    <table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;" id="AdvancedSearchTable" class="hide">
        <thead>
            <tr>
                <th>
                    Target
                </th>
                <th>
                    Search text
                </th>
                <th>
                    Treat as regex
                </th>
                <th>
                    Use smart search
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- Be carefull, replace the i in the data-column="i" and id="col'i'_filter" with the correct column number from the real table.-->
            <!-- This i is handled in the jquery code. -->
            <tr id="filter_global">
                <td>Global search</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col2" data-column="2">
                <td>Column - @Html.DisplayNameFor(model => model.FirstName)</td>
                <td align="center"><input type="text" class="column_filter" id="col2_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col3" data-column="3">
                <td>Column - @Html.DisplayNameFor(model => model.LastName)</td>
                <td align="center"><input type="text" class="column_filter" id="col3_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col4" data-column="4">
                <td>Column - @Html.DisplayNameFor(model => model.Street)</td>
                <td align="center"><input type="text" class="column_filter" id="col4_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col5" data-column="5">
                <td>Column - @Html.DisplayNameFor(model => model.City)</td>
                <td align="center"><input type="text" class="column_filter" id="col5_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col6" data-column="6">
                <td>Column - @Html.DisplayNameFor(model => model.State)</td>
                <td align="center"><input type="text" class="column_filter" id="col6_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col6_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col6_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col7" data-column="7">
                <td>Column - @Html.DisplayNameFor(model => model.Zipcode)</td>
                <td align="center"><input type="text" class="column_filter" id="col7_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col7_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col7_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col8" data-column="8">
                <td>Column - @Html.DisplayNameFor(model => model.AppUser)</td>
                <td align="center"><input type="text" class="column_filter" id="col8_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col8_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col8_smart" checked="checked"></td>
            </tr>
        </tbody>
    </table>


    <h5 class="text-center text-danger">Customer Address Cannot be created from here, customer should add it when submitting an order !</h5>


    <div class="row">
        <div class="col-md-6 text-left">
            <!--send id=0 to the method so that the method understands it is a create process. (we can write "null" instead of "new {id=0}" but problems might happen)-->
            <a onclick="showInPopup('@Url.Action("AddOrEdit","CustomersAddresses",new {id=0},Context.Request.Scheme)','New Address')" class="btn btn-success text-white my-1 disabled"><i class="fas fa-plus"></i> New Address</a>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Delete" id="AdvancedSearchButton" style="width: 11em">Advanced Search</button>
        </div>
    </div>


    <table class="table" id="DataTable">
        <thead class="thead-light">
            <tr>
                <th>
                    # <!-- This column to have row number. JQuery in site.js will do that-->
                </th>
                <th>
                    Options
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppUser)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="rowNumber">
                        <!-- This column to havve row number. JQuery in site.js will do that-->
                    </td>
                    <td>
                        <div>
                            <!-- Edit -->
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","CustomersAddresses",new {id=item.Id},Context.Request.Scheme)','Update Address')" data-toggle="tooltip" data-placement="top" title="Edit Address" class="btn btn-light btn-sm ml-1"><i class="fas fa-pencil-alt"></i></a>

                            <!-- Delete -->
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.Id" />
                                <button type="submit" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-light btn-sm"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppUser.Email)
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>
